<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
    <p class="text-sm text-vanta-300 text-center uppercase max-w-xs mx-auto">
      <span>Companies of all sizes trust Vanta to deliver their learn</span>
    </p>
    <div class="mx-auto flex w-5/6 flex-col gap-4">
      <div
        class="mx-auto grid grid-cols-2 items-center sm:grid-cols-3 lg:grid-cols-6">
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-8" src="/brands/1.svg" alt="" />
        </div>
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-8" src="/brands/2.svg" alt="" />
        </div>
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-8" src="/brands/3.svg" alt="" />
        </div>
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-8" src="/brands/4.svg" alt="" />
        </div>
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-8" src="/brands/5.svg" alt="" />
        </div>
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-8" src="/brands/6.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="mx-auto hidden w-full flex-col gap-4 md:flex">
      <div
        class="mx-auto grid grid-cols-2 items-center sm:grid-cols-3 lg:grid-cols-6">
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-12" src="/brands/7.svg" alt="" />
        </div>
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-12" src="/brands/8.svg" alt="" />
        </div>
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-12" src="/brands/9.svg" alt="" />
        </div>
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-12" src="/brands/10.svg" alt="" />
        </div>
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-12" src="/brands/11.svg" alt="" />
        </div>
        <div class="flex h-24 items-center justify-center px-4">
          <img class="h-12" src="/brands/12.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
