---
const brandLogosLarge = [
  { id: 7, src: "/brands/7.svg", alt: "Brand 7" },
  { id: 8, src: "/brands/8.svg", alt: "Brand 8" },
  { id: 9, src: "/brands/9.svg", alt: "Brand 9" },
  { id: 10, src: "/brands/10.svg", alt: "Brand 10" },
  { id: 11, src: "/brands/11.svg", alt: "Brand 11" },
  { id: 12, src: "/brands/12.svg", alt: "Brand 12" },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
    <div
      class="ring-white/10 ring-1 p-2 bg-gradient-to-t from-white/20 rounded-3xl">
      <div
        class="p-8 lg:p-10 ring-1 ring-white/10 rounded-2xl shadow-massive bg-card/80">
        <div class="mx-auto  w-full flex-col gap-4 flex">
          <div
            class="mx-auto grid grid-cols-2 items-center sm:grid-cols-3 lg:grid-cols-6">
            {
              brandLogosLarge.map((logo) => (
                <div class="flex h-24 items-center justify-center px-4">
                  <img
                    class="h-12"
                    src={logo.src}
                    alt={logo.alt}
                  />
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
