<section>
  <div
    class="absolute bg-gradient-to-r from-vanta-50 via-vanta-200 to-vanta-600 h-42 right-32 top-64 w-32 lg:w-96 lg:h-96 opacity-50 rounded-lg ml-auto inset-x-0 blur-3xl justify-center">
  </div>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-56">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
      <div class="text-left">
        <h1
          class="bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-4xl font-normal font-display tracking-tight pb-2">
          Unleash your potential
          <span class="lg:block">
            through seamless online learning from today</span
          >
        </h1>
        <p class="max-w-xs mt-4 text-vanta-300">
          Discover a boundless realm of knowledge and personal growth, all
          conclaiently accessible right at your fingertips
        </p>
        <div class="flex flex-col max-w-xl gap-2 mt-12 sm:flex-row relative">
          <a
            href="#"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm text-white transition-all rounded-lg hover:to-vanta-600 bg-gradient-to-b from-vanta-300 via-vanta-400 to-vanta-500"
            >Buy Vanta</a
          >
          <a
            href="/"
            class="rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10"
            >See all pages</a
          >
        </div>
        <div
          class="grid grid-cols-2 mt-12 lg:mt-24 sm:grid-cols-3 lg:grid-cols-4 justify-between -ml-4">
          <p><img src="/brands/1.svg" alt="" /></p>
          <p><img src="/brands/2.svg" alt="" /></p>
          <p><img src="/brands/3.svg" alt="" /></p>
        </div>
      </div>
      <div class="lg:grid lg:grid-cols-2 gap-2 hidden">
        <div>
          <div
            class="lg:ring-white/10 lg:ring-1 lg:p-2 lg:rounded-3xl lg:bg-gradient-to-t from-white/20 hover:rotate-0 duration-500 lg:rotate-6">
            <img
              class="block ring-1 ring-white/10 rounded-2xl shadow-massive"
              src="/widget2.svg"
            />
          </div>
        </div>
        <div>
          <div
            class="lg:ring-white/10 lg:ring-1 lg:p-2 lg:rounded-3xl lg:bg-gradient-to-t from-white/20 hover:rotate-0 duration-500 lg:-rotate-12">
            <img
              class="block ring-1 ring-white/10 rounded-2xl shadow-massive"
              src="/widget4.svg"
            />
          </div>
        </div>
        <div>
          <div
            class="lg:ring-white/10 lg:ring-1 lg:p-2 lg:rounded-3xl lg:bg-gradient-to-t from-white/20 hover:rotate-0 duration-500 lg:-rotate-12">
            <img
              class="block ring-1 ring-white/10 rounded-2xl shadow-massive"
              src="/widget6.svg"
            />
          </div>
        </div>
        <div>
          <div
            class="ring-white/10 lg:ring-1 lg:p-2 lg:rounded-3xl lg:bg-gradient-to-t from-white/20 lg: rotate-12 hover:rotate-0 duration-500">
            <img
              class="block ring-1 ring-white/10 rounded-2xl shadow-massive"
              src="/widget1.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
