<section class="relative overflow-hidden">
  <div
    class="absolute inset-x-0 justify-center w-32 ml-auto rounded-lg opacity-50 bg-gradient-to-r from-vanta-50 via-vanta-200 to-vanta-600 h-42 lg:-top-64 lg:w-96 lg:h-96 blur-3xl">
  </div>

  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-56">
    <div>
      <h1
        class="pb-2 text-4xl font-normal md:text-balance tracking-tight text-transparent bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text font-display sm:text-6xl">
        Productized Studio
      </h1>
      <p class="max-w-xl mt-4 text-vanta-300">
        Discover a boundless realm of knowledge and personal growth, all
        conclaiently accessible right at your fingertips
      </p>
      <div class="relative flex flex-col max-w-xl gap-2 mt-12 sm:flex-row">
        <a
          aria-label="your label"
          title="link to your page"
          href="/studios"
          class="flex items-center justify-center h-10 px-4 py-2 text-sm text-white transition-all rounded-lg hover:to-vanta-600 bg-gradient-to-b from-vanta-300 via-vanta-400 to-vanta-500"
          >View Studios</a
        >
        <a
          href="/"
          aria-label="your label"
          title="link to your page"
          class="rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10"
          >Submit Your Studio</a
        >
      </div>
    </div>
    <div
      class="grid flex-col justify-between gap-2 mt-4 gird-cols-1 lg:grid-cols-3 md:grid-cols-2 w-lg">
      <div
        class="h-full p-2 bg-gradient-to-t from-white/20 ring-1 ring-white/10 rounded-3xl lg:mt-24">
        <div
          class="flex flex-col justify-between h-full p-4 overflow-hidden shadow-massive ring-1 ring-white/10 rounded-2xl bg-card">
          <div>
            <img src="/widget6.svg" />
          </div>
          <div class="flex flex-col gap-2 p-4">
            <p class="text-lg text-white font-display lg:text-xl">
              Personalized learning paths
            </p>
            <p class="text-sm text-vanta-300">
              Embark on a tailored educational journey, with courses curated to
              match your interests, goals, and learning pace.
            </p>
          </div>
        </div>
      </div>
      <div
        class="h-full p-2 bg-gradient-to-t from-white/20 ring-1 ring-white/10 rounded-3xl">
        <div
          class="flex flex-col justify-between h-full p-4 overflow-hidden shadow-massive ring-1 ring-white/10 rounded-2xl bg-card">
          <div>
            <img src="/widget5.svg" />
          </div>
          <div class="flex flex-col gap-2 p-4">
            <p class="text-lg text-white font-display lg:text-xl">
              Interactive discussions
            </p>
            <p class="text-sm text-vanta-300">
              Engage in vibrant discussions with fellow learners and educators,
              fostering a collaborative learning environment.
            </p>
          </div>
        </div>
      </div>

      <div
        class="h-full p-2 bg-gradient-to-t from-white/20 ring-1 ring-white/10 rounded-3xl lg:-mt-24">
        <div
          class="flex flex-col justify-between h-full p-4 overflow-hidden shadow-massive ring-1 ring-white/10 rounded-2xl bg-card">
          <div>
            <img src="/widget4.svg" />
          </div>
          <div class="flex flex-col gap-2 p-4">
            <p class="text-lg text-white font-display lg:text-xl">
              Rich multimedia content
            </p>
            <p class="text-sm text-vanta-300">
              Dive into a variety of learning materials, from video lectures to
              interactive quizzes, ensuring an engaging and comprehensive
              experience.
            </p>
          </div>
        </div>
      </div>
      <div
        class="h-full p-2 bg-gradient-to-t from-white/20 ring-1 ring-white/10 rounded-3xl lg:mt-24">
        <div
          class="flex flex-col justify-between h-full p-4 overflow-hidden shadow-massive ring-1 ring-white/10 rounded-2xl bg-card">
          <div>
            <img src="/widget3.svg" />
          </div>
          <div class="flex flex-col gap-2 p-4">
            <p class="text-lg text-white font-display lg:text-xl">
              Anytime, anywhere access
            </p>
            <p class="text-sm text-vanta-300">
              Enjoy the flexibility of learning on your schedule, accessing
              courses and resources seamlessly across devices.
            </p>
          </div>
        </div>
      </div>

      <div
        class="h-full p-2 bg-gradient-to-t from-white/20 ring-1 ring-white/10 rounded-3xl">
        <div
          class="flex flex-col justify-between h-full p-4 overflow-hidden shadow-massive ring-1 ring-white/10 rounded-2xl bg-card">
          <div>
            <img src="/widget2.svg" />
          </div>
          <div class="flex flex-col gap-2 p-4">
            <p class="text-lg text-white font-display lg:text-xl">
              Progress tracking
            </p>
            <p class="text-sm text-vanta-300">
              Monitor your learning milestones and accomplishments, motivating
              you to stay on track and celebrate your achievements.
            </p>
          </div>
        </div>
      </div>
      <div
        class="p-2 bg-gradient-to-t from-white/20 ring-1 ring-white/10 rounded-3xl lg:-mt-24">
        <div
          class="flex flex-col justify-between h-full p-4 overflow-hidden shadow-massive ring-1 ring-white/10 rounded-2xl bg-card">
          <div>
            <img src="/widget1.svg" />
          </div>
          <div class="flex flex-col gap-2 p-4">
            <p class="text-lg text-white font-display lg:text-xl">
              Expert instructors
            </p>
            <p class="text-sm text-vanta-300">
              Learn from accomplished experts and industry professionals,
              gaining insights from their real-world experience.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
