@tailwind base;
@tailwind components;
@tailwind utilities;
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

:root {
  --astro-code-color-text: #ffffff;
  --astro-code-color-background: #131313;
  --astro-code-token-constant: #888888;
  --astro-code-token-string: #fafafa;
  --astro-code-token-comment: #ffffff70;
  --astro-code-token-keyword:#ffffff;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: #ffffff80;
  --astro-code-token-string-expression: #fafafa;
  --astro-code-token-punctuation: #ffffff;
  --astro-code-token-link: #ffffff;
}



.prose-styles {
  @apply prose prose-blockquote:border-l-white prose-a:text-vanta-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-vanta-500 text-vanta-300 prose-code:text-white prose-blockquote:text-white/70 max-w-3xl prose-strong:font-normal prose-pre:ring-1 prose-pre:ring-white/10 prose-pre:shadow-massive;
}
