<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div
      class="ring-white/10 ring-1 p-2 rounded-3xl bg-gradient-to-t from-white/20 relative">
      <img
        class="absolute blur-3xl w-96 inset-x-0 h-96 mx-auto bottom-12 left-0"
        src="/avatars/avatar1.svg"
        alt=""
      />
      <div
        class="flex flex-col bg-card/80 backdrop-blur-2xl rounded-2xl shadow-massive ring-white/10 ring-1 p-8 lg:p-20 relative">
        <div class="lg:text-center max-w-2xl lg:mx-auto">
          <p
            class="bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-4xl font-normal font-display tracking-tight pb-2 sm:text-6xl">
            Join the community
          </p>
          <p class="text-vanta-300 mt-4 max-w-xs mx-auto">
            At Vanta we believe that learning is a collaborative process.
          </p>
        </div>
        <form
          action=""
          method="post"
          id="#"
          name="#"
          target="_blank"
          class="p-2 mt-8 transition lg:mx-auto duration-500 ease-in-out transform lg:border border-white/10 lg:bg-vanta-800 shadow-big rounded-xl sm:max-w-lg sm:flex">
          <div class="flex-1 min-w-0 border-b lg:border-0 border-vanta-700">
            <label for="member_email" class="sr-only">Email address</label>
            <input
              autofocus=""
              id="cta-email"
              type="email"
              class="block w-full px-5 py-2 placeholder-vanta-300 transition duration-500 ease-in-out transform bg-transparent border text-sm border-transparent rounded-lg text-white focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white h-10 focus:ring-offset-2 focus:ring-offset-card"
              placeholder="Enter your best email..."
            />
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-3">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm text-white transition-all rounded-lg hover:to-vanta-600 bg-gradient-to-b from-vanta-300 via-vanta-400 to-vanta-500"
              >Subscribe me</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
