<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-56">
    <div
      class="p-2 ring-white/10 ring-1 rounded-3xl bg-gradient-to-t from-white/20">
      <div
        class="relative w-full p-4 mx-auto overflow-y-auto max-w-x3l bg-card backdrop-blur-2xl lg:p-20 rounded-2xlm ring-1 ring-white/10 rounded-2xl shadow-massive">
        <h2 class="text-lg text-white font-display lg:text-2xl">
          Customize Consent Preferences
        </h2>

        <p class="max-w-xl mt-4 text-vanta-300">
          We use first-party and third-party cookies to provide a better
          experience, tailor and measure ads, analyze traffic, and personalize
          content. See Section 4 of our
          <a
            href="/infopages/privacy"
            class="text-white underline duration-200 hover:text-vanta-300">
            Privacy Policy</a
          > to learn more.
        </p>
        <div class="mt-4">
          <div class="flex items-center justify-between py-3">
            <span class="flex flex-col flex-grow">
              <span
                class="text-lg text-white font-display lg:text-xl"
                id="availability-label">Necesary</span
              >
              <span class="mt-2 text-sm text-vanta-300" id="#">
                Necessary cookies are required for this website to function and
                cannot be disabled.
              </span>
            </span>

            <!-- Toggle -->
            <div
              x-data="{ value: false }"
              class="flex items-center justify-center"
              x-id="['toggle-label']">
              <input type="hidden" name="sendNotifications" :value="value" />

              <!-- Label -->
              <label
                @click="$refs.toggle.click(); $refs.toggle.focus()"
                :id="$id('toggle-label')"
                class="sr-only">
                Toggle
              </label>

              <!-- Button -->
              <button
                x-ref="toggle"
                @click="value = ! value"
                type="button"
                role="switch"
                :aria-checked="value"
                :aria-labelledby="$id('toggle-label')"
                :class="value ? 'bg-vanta-900 ' : 'bg-vanta-700'"
                class="relative inline-flex py-1 ml-4 transition rounded-full w-14 ring-1 ring-white/10">
                <span
                  :class="value ? 'translate-x-7' : 'translate-x-1'"
                  class="w-6 h-6 transition bg-white rounded-full shadow-md"
                  aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="flex items-center justify-between py-3">
            <span class="flex flex-col flex-grow">
              <span
                class="text-lg text-white font-display lg:text-xl"
                id="availability-label">Functional</span
              >
              <span class="mt-2 text-sm text-vanta-300" id="#">
                Functional cookies enable this website to provide enhanced
                functionality and personalization.
              </span>
            </span>

            <!-- Toggle -->
            <div
              x-data="{ value: false }"
              class="flex items-center justify-center"
              x-id="['toggle-label']">
              <input type="hidden" name="sendNotifications" :value="value" />

              <!-- Label -->
              <label
                @click="$refs.toggle.click(); $refs.toggle.focus()"
                :id="$id('toggle-label')"
                class="sr-only">
                Toggle
              </label>

              <!-- Button -->
              <button
                x-ref="toggle"
                @click="value = ! value"
                type="button"
                role="switch"
                :aria-checked="value"
                :aria-labelledby="$id('toggle-label')"
                :class="value ? 'bg-vanta-900 ' : 'bg-vanta-700'"
                class="relative inline-flex py-1 ml-4 transition rounded-full w-14 ring-1 ring-white/10">
                <span
                  :class="value ? 'translate-x-7' : 'translate-x-1'"
                  class="w-6 h-6 transition bg-white rounded-full shadow-md"
                  aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="flex items-center justify-between py-3">
            <span class="flex flex-col flex-grow">
              <span
                class="text-lg text-white font-display lg:text-xl"
                id="availability-label">Analytics</span
              >
              <span class="mt-2 text-sm text-vanta-300" id="#">
                Analytics cookies are used to understand how visitors interact
                with our website, such as by counting visits to pages and
                identifying sources of traffic.
              </span>
            </span>

            <!-- Toggle -->
            <div
              x-data="{ value: false }"
              class="flex items-center justify-center"
              x-id="['toggle-label']">
              <input type="hidden" name="sendNotifications" :value="value" />

              <!-- Label -->
              <label
                @click="$refs.toggle.click(); $refs.toggle.focus()"
                :id="$id('toggle-label')"
                class="sr-only">
                Toggle
              </label>

              <!-- Button -->
              <button
                x-ref="toggle"
                @click="value = ! value"
                type="button"
                role="switch"
                :aria-checked="value"
                :aria-labelledby="$id('toggle-label')"
                :class="value ? 'bg-vanta-900 ' : 'bg-vanta-700'"
                class="relative inline-flex py-1 ml-4 transition rounded-full w-14 ring-1 ring-white/10">
                <span
                  :class="value ? 'translate-x-7' : 'translate-x-1'"
                  class="w-6 h-6 transition bg-white rounded-full shadow-md"
                  aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="flex items-center justify-between py-3">
            <span class="flex flex-col flex-grow">
              <span
                class="text-lg text-white font-display lg:text-xl"
                id="availability-label">Marketing and Advertising</span
              >
              <span class="mt-2 text-sm text-vanta-300" id="#">
                Marketing cookies help to deliver advertising that's more
                relevant to you. They may also be used to limit the number of
                times you see an advertisement and measure the effectiveness of
                advertising campaigns.
              </span>
            </span>

            <!-- Toggle -->
            <div
              x-data="{ value: false }"
              class="flex items-center justify-center"
              x-id="['toggle-label']">
              <input type="hidden" name="sendNotifications" :value="value" />

              <!-- Label -->
              <label
                @click="$refs.toggle.click(); $refs.toggle.focus()"
                :id="$id('toggle-label')"
                class="sr-only">
                Toggle
              </label>

              <!-- Button -->
              <button
                x-ref="toggle"
                @click="value = ! value"
                type="button"
                role="switch"
                :aria-checked="value"
                :aria-labelledby="$id('toggle-label')"
                :class="value ? 'bg-vanta-900 ' : 'bg-vanta-700'"
                class="relative inline-flex py-1 ml-4 transition rounded-full w-14 ring-1 ring-white/10">
                <span
                  :class="value ? 'translate-x-7' : 'translate-x-1'"
                  class="w-6 h-6 transition bg-white rounded-full shadow-md"
                  aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="relative flex flex-col w-full gap-2 mt-12 sm:flex-row">
          <button
            class="rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10 w-full">
            Reject all</button
          >
          <button
            class="rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10 w-full">
            Save my preferences</button
          >

          <button
            class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm text-white transition-all rounded-lg hover:to-vanta-600 bg-gradient-to-b from-vanta-300 via-vanta-400 to-vanta-500">
            Acept all</button
          >
        </div>
      </div>
    </div>
  </div>
</section>
