<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div
      class="ring-1 p-2 rounded-3xl bg-gradient-to-t from-white/20 ring-white/10 relative">
      <div
        class="relative isolate overflow-hidden p-8 flex flex-col ring-1 ring-white/10 shadow-massive rounded-2xl bg-card/80 lg:p-20">
        <div class="grid grid-cols-1 lg:grid-cols-3 items-end">
          <div class="lg:col-span-2">
            <p
              class="bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-4xl font-normal font-display tracking-tight pb-2">
              Why learning from Vanta
            </p>
            <p class="text-vanta-300 mt-4 max-w-md">
              Looking to expand your skills and explore your creativity? Our
              hands-on creative classes are the perfect way to learn at your own
              pace and discover new talents.
            </p>
          </div>
          <div class="flex flex-col gap-2 mt-12 lg:ml-auto">
            <a
              href="/courses/all-courses"
              class="flex items-center justify-center h-10 px-4 py-2 text-sm text-white transition-all rounded-lg hover:to-vanta-600 bg-gradient-to-b from-vanta-300 via-vanta-400 to-vanta-500"
              >See all our courses</a
            >
            <a
              href="/"
              class="rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
