---
const features = [
  {
    icon: "route",
    title: "Personalized learning paths",
    description:
      "Embark on a tailored educational journey, with courses curated to match your interests, goals, and learning pace.",
  },
  {
    icon: "milkshake",
    title: "Interactive discussions",
    description:
      "Engage in vibrant discussions with fellow learners and educators, fostering a collaborative learning environment.",
  },
  {
    icon: "multimedia",
    title: "Rich multimedia content",
    description:
      "Dive into a variety of learning materials, from video lectures to interactive quizzes, ensuring an engaging experience.",
  },
  {
    icon: "location",
    title: "Anytime, anywhere access",
    description:
      "Enjoy the flexibility of learning on your schedule, accessing courses and resources seamlessly across devices.",
  },
  {
    icon: "progress",
    title: "Progress tracking",
    description:
      "Monitor your learning milestones and accomplishments, motivating you to stay on track and celebrate your achievements.",
  },
  {
    icon: "school",
    title: "Expert instructors",
    description:
      "Learn from accomplished experts and industry professionals, gaining insights from their real-world experience.",
  },
];
---

<section class="relative overflow-hidden">
  <div
    class="h-[0.080rem] bg-gradient-to-r from-vanta-950 max-w-3xl mx-auto via-vanta-300 to-vanta-950">
  </div>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div
      class="ring-white/10 ring-1 p-2 bg-gradient-to-t from-white/20 rounded-3xl text-center">
      <div
        class="p-8 ring-1 ring-white/10 rounded-2xl lg:p-10 shadow-massive bg-card/80 h-full">
        <p
          class="bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-4xl font-normal font-display tracking-tight pb-2 sm:text-5xl">
          Empowering <span class="lg:block">learning experiences</span>
        </p>
        <p class="text-vanta-300 mx-auto mt-4 max-w-sm">
          Discover the features that make our platform your ultimate learning
          companion
        </p>
      </div>
    </div>
    <ul
      class="grid grid-cols-1 gap-2 mt-2 list-none md:grid-cols-3 mx-auto ring-white/10 ring-1 p-2 bg-gradient-to-t from-white/20 rounded-3xl"
      role="list">
      {
        features.map((feature, index) => (
          <li class="p-8 ring-1 ring-white/10 rounded-2xl lg:p-10 shadow-massive bg-card/80 h-full">
            <span class="ring-1 ring-white/10 rounded-full bg-white/5 h-10 w-10 items-center inline-flex text-white mx-auto justify-center">
              {feature.icon === "route" && (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-route"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  />
                  <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                  <path d="M18 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                  <path d="M12 19h4.5a3.5 3.5 0 0 0 0 -7h-8a3.5 3.5 0 0 1 0 -7h3.5" />
                </svg>
              )}
              {feature.icon === "milkshake" && (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-milkshake"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.25"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  />
                  <path d="M17 10a5 5 0 0 0 -10 0" />
                  <path d="M6 10m0 1a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1z" />
                  <path d="M7 13l1.81 7.243a1 1 0 0 0 .97 .757h4.44a1 1 0 0 0 .97 -.757l1.81 -7.243" />
                  <path d="M12 5v-2" />
                </svg>
              )}
              {feature.icon === "multimedia" && (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-box-padding"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.25"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  />
                  <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                  <path d="M8 16v.01" />
                  <path d="M8 12v.01" />
                  <path d="M8 8v.01" />
                  <path d="M16 16v.01" />
                  <path d="M16 12v.01" />
                  <path d="M16 8v.01" />
                  <path d="M12 8v.01" />
                  <path d="M12 16v.01" />
                </svg>
              )}{" "}
              {feature.icon === "location" && (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-current-location-off"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.25"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  />
                  <path d="M14.685 10.661c-.3 -.6 -.795 -1.086 -1.402 -1.374m-3.397 .584a3 3 0 1 0 4.24 4.245" />
                  <path d="M6.357 6.33a8 8 0 1 0 11.301 11.326m1.642 -2.378a8 8 0 0 0 -10.597 -10.569" />
                  <path d="M12 2v2" />
                  <path d="M12 20v2" />
                  <path d="M20 12h2" />
                  <path d="M2 12h2" />
                  <path d="M3 3l18 18" />
                </svg>
              )}{" "}
              {feature.icon === "progress" && (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-progress"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.25"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  />
                  <path d="M10 20.777a8.942 8.942 0 0 1 -2.48 -.969" />
                  <path d="M14 3.223a9.003 9.003 0 0 1 0 17.554" />
                  <path d="M4.579 17.093a8.961 8.961 0 0 1 -1.227 -2.592" />
                  <path d="M3.124 10.5c.16 -.95 .468 -1.85 .9 -2.675l.169 -.305" />
                  <path d="M6.907 4.579a8.954 8.954 0 0 1 3.093 -1.356" />
                </svg>
              )}{" "}
              {feature.icon === "school" && (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-school"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.25"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  />
                  <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                  <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                </svg>
              )}
            </span>
            <p class="text-lg mt-12 font-display text-white lg:text-xl">
              {feature.title}
            </p>
            <p class="mt-2 text-sm text-vanta-300">{feature.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>
