---
const learningSections = [
  {
    id: 1,
    icon: "creativeClass",
    title: "Learn at your own pace with hands-on creative classes.",
    description:
      "Looking to expand your skills and explore your creativity? Our hands-on creative classes are the perfect way to learn at your own pace and discover new talents.",
    colSpan: "lg:col-span-1",
  },
  {
    id: 2,
    icon: "teachersPassion",
    title:
      "Vanta teachers are everyday creatives and professionals who want to share their passion",
    description:
      "At Vanta, we believe that everyone has something to teach and share with the world. Our teachers are not just experts in their field, they are also passionate about teaching and helping others discover their own creativity. They take the time to get to know their students and tailor their instruction to meet their individual needs and goals.",
    colSpan: "lg:col-span-2",
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-end">
      <div class="lg:col-span-2">
        <p
          class="bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-4xl font-normal font-display tracking-tight pb-2 sm:text-5xl">
          New Skills with Vanta.
          <span class="lg:block">A Detailed Look at Our Curriculum</span>
        </p>
      </div>
      <div>
        <p class="text-vanta-300 max-w-sm mx-auto">
          With real world projects to create and online classes that fit a busy
          routine
        </p>
      </div>
    </div>
    <ul
      class="grid grid-cols-1 mt-12 list-none md:grid-cols-3 gap-2"
      role="list">
      {
        learningSections.map((section) => (
          <li
            class={`ring-white/10 ring-1 p-2 bg-gradient-to-t from-white/20 rounded-3xl ${section.colSpan}`}>
            <div class="p-8 ring-1 ring-white/10 rounded-2xl lg:p-10 shadow-massive bg-card/80 h-full">
              <span class="ring-1 ring-white/10 rounded-full bg-white/5 h-10 w-10 items-center inline-flex text-white mx-auto justify-center">
                {section.icon === "creativeClass" && (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-route"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    />
                    <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M18 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M12 19h4.5a3.5 3.5 0 0 0 0 -7h-8a3.5 3.5 0 0 1 0 -7h3.5" />
                  </svg>
                )}
                {section.icon === "teachersPassion" && (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-school"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    />
                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                  </svg>
                )}
              </span>
              <p class="text-lg mt-12 font-display text-white lg:text-3xl">
                {section.title}
              </p>
              <p class="mt-2 text-sm text-vanta-300">{section.description}</p>
            </div>
          </li>
        ))
      }
    </ul>


  </div>
</section>
