---
import { getCollection } from "astro:content";
const allPosts = await getCollection("events");
import BaseLayout from "@/layouts/BaseLayout.astro";
import EventEntries from "@/components/events/EventEntries.astro";
import SubscribeTwo from "@/components/ctas/SubscribeTwo.astro";
---

<BaseLayout>
  <section class="relative overflow-hidden">
    <div
      class="relative px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-56 lg:pb-12">
      <div class="text-left sm:text-center">
        <p
          class="text-3xl font-medium font-display tracking-tight text-transparent pb-2 sm:text-5xl bg-gradient-to-r from-vanta-100 via-vanta-300 to-vanta-500 bg-clip-text">
          Join us at our<span class="lg:block"> upcoming events</span>
        </p>
        <p class="max-w-md mx-auto mt-4 text-vanta-300">
          A unique experience in exploring brand & identity design
        </p>
      </div>
      <ul
        class="grid grid-cols-1 relative lg:grid-cols-3 mt-12 list-none gap-2 ring-white/10 ring-1 p-2 rounded-3xl bg-gradient-to-t from-white/20"
        role="list">
        {
          allPosts.slice(0,3).map((post) => (
            <EventEntries
              url={"/events/" + post.slug}
              title={post.data.title}
              description={post.data.description}
              location={post.data.location}
              meetingDate={post.data.meetingDate}
            />
          ))
        }
      </ul>
    </div>
  </section>
 
  <SubscribeTwo />
</BaseLayout>
