<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-56">
    <div class="border-b border-vanta-700 pb-4">
      <h1
        class="bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-4xl font-normal font-display tracking-tight pb-2 sm:text-6xl">
        Supersotre style guide
      </h1>
    </div>
    <div class="mt-12 lg:mt-24">
      <div class="border-b border-vanta-700 pb-5">
        <p class="text-white tracking-tighter text-3xl">
          <span class="text-white">Typography</span> / <span
            class="text-vanta-300">Syne, Syne Mono &amp; Figtree</span
          >
        </p>
      </div>
      <div class="mt-12">
        <div>
          <div class="space-y-6 py-3">
            <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-white">Header 1</span></div>
              <div>
                <span
                  class="bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-4xl font-normal font-display tracking-tight pb-2 sm:text-6xl"
                  >Header 1</span
                >
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-white">Header 2</span></div>
              <div>
                <span class="text-lg font-display text-white lg:text-xl"
                  >Header 2</span
                >
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-white">Link</span></div>
              <div>
                <span class="text-white hover:text-vanta-300">Link text</span>
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-white">Subtitle</span></div>
              <div>
                <span class="text-white font-semibold">Subtitle text</span>
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-white">Paragraph</span></div>
              <div>
                <span class="mt-2 text-sm text-vanta-300"
                  >I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents.</span
                >
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-white">Caption</span></div>
              <div>
                <span class="text-white text-xs">Picture about somethign</span>
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-white">Code</span></div>
              <div>
                <code class="font-mono text-white">tailwind.config.js</code>
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
              <div><span class="text-white">List</span></div>
              <div>
                <ul
                  class="text-vanta-300 list-disc list-inside mt-6 space-y-3"
                  role="list">
                  <ul class="list-disc mt-3" role="list">
                    <li>Access to premium posts</li>
                    <li>Weekly newsletters</li>
                    <li>Simple, secure card payment</li>
                    <li>No Advertising</li>
                    <li>Special discounts</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12">
        <div class="border-b border-vanta-700 pb-5">
          <p class="text-white tracking-tighter text-3xl">Color palette</p>
        </div>
      </div>
      <div class="grid gap-2 grid-cols-2 lg:grid-cols-2 mt-12">
        <div class="space-y-2">
          <div class="lg:justify-center p-6 bg-white border rounded-lg"></div>
        </div>

        <div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-vanta-50"></div>
          <div class="lg:justify-center p-6 bg-vanta-100"></div>
          <div class="lg:justify-center p-6 bg-vanta-200"></div>
          <div class="lg:justify-center p-6 bg-vanta-300"></div>
          <div class="lg:justify-center p-6 bg-vanta-400"></div>
          <div class="lg:justify-center p-6 bg-vanta-500"></div>
          <div class="lg:justify-center p-6 bg-vanta-600"></div>
          <div class="lg:justify-center p-6 bg-vanta-700"></div>
          <div class="lg:justify-center p-6 bg-vanta-800"></div>
          <div class="lg:justify-center p-6 bg-vanta-900"></div>
          <div class="lg:justify-center p-6 rounded-b-lg bg-vanta-950"></div>
        </div>
      </div>
      <div class="mt-12 lg:mt-32">
        <div class="border-b border-vanta-700 pb-5">
          <p class="text-white tracking-tighter text-3xl">Buttons</p>
        </div>
        <div class="flex-wrap flex gap-2 mt-6">
          <a
            href="/"
            class="tflex items-center justify-center h-10 px-4 py-2 text-sm text-black transition-all rounded-lg hover:to-vanta-600 bg-gradient-to-b from-vanta-300 via-vanta-400 to-vanta-500"
            >See all pages
          </a><a
            href="#"
            class="rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10"
            >Buy SuperStore</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
