---
import { getCollection } from "astro:content";
const allPosts = await getCollection("courses");
import BaseLayout from "@/layouts/BaseLayout.astro";
import EntriesOne from "@/components/courses/EntriesOne.astro";
import FeatureTwo from "@/components/features/FeatureTwo.astro";
import SubscribeOne from "@/components/ctas/SubscribeOne.astro";
---

<BaseLayout>
  <section>
    <div
      class="absolute bg-gradient-to-r from-vanta-50 via-vanta-200 to-vanta-600 h-42 -top-64 w-32 lg:w-96 lg:h-96 opacity-50 rounded-lg mx-auto inset-x-0 blur-3xl justify-center">
    </div>
    <div
      class="relative px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-56 lg:pb-12">
      <div class="max-w-2xl">
        <div class="text-left">
          <h1
            class="bg-gradient-to-r lg:text-6xl from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-4xl font-normal font-display tracking-tight pb-2">
            Explore our diverse <span class="lg:block">course offerings</span>
          </h1>
          <p class="max-w-xs mt-4 text-vanta-300">
            Embark on a learning journey tailored to your interests and goals
          </p>
         
        </div>
      </div>
      <ul
        class="grid grid-cols-1 mt-12 list-none md:grid-cols-3 gap-2 lg:mt-24 relative ring-white/10 ring-1 p-2 rounded-3xl bg-gradient-to-t from-white/20"
        role="list">
        {
          allPosts.slice().map((post) => (
            <EntriesOne
              url={"/courses/" + post.slug}
              courseTtitle={post.data.courseTitle}
              intro={post.data.intro}
              price={post.data.price}
              avatar={post.data.avatar.url}
            />
          ))
        }
      </ul>
    </div>
  </section>


  <FeatureTwo />
  <SubscribeOne />
</BaseLayout>
