<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-56">
    <div class="max-w-xl mx-auto text-center">
      <img src="/avatars/avatar1.svg" class="mx-auto lg:w-64 lg:h-64" alt="" />

      <p
        class="pb-2 mt-12 text-4xl font-normal tracking-tight text-transparent bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text font-display sm:text-6xl">
        Download our app
      </p>
      <p class="max-w-sm mx-auto mt-4 text-vanta-300">
        A faster desktop experience with better notifications.
      </p>
      <div class="relative flex flex-col justify-center gap-2 mt-8 sm:flex-row">
        <a
          class="rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10"
          href="#"
          >Download for macOS
        </a>
        <a
          class="rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10"
          href="#"
          >Download for Winddows
        </a>
      </div>
      <div class="mt-4">
        <small class="text-vanta-300"
          >Compatible with Apple Silicon and Intel
        </small>
      </div>
    </div>
  </div>
</section>
