<section>
  <div
    class="absolute inset-x-0 justify-center w-32 mx-auto rounded-lg opacity-50 bg-gradient-to-r from-vanta-50 via-vanta-200 to-vanta-600 h-42 -top-64 lg:w-96 lg:h-96 blur-3xl">
  </div>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-56">
    <div
      class="relative flex items-center justify-center px-8 md:flex-none md:px-28 sm:justify-center">
      <div
        class="p-2 ring-white/10 ring-1 rounded-3xl bg-gradient-to-t from-white/20">
        <div
          class="p-8 ring-1 ring-inset ring-white/10 rounded-2xl shadow-massive bg-card backdrop-blur-xl">
          <div class="w-full max-w-md mx-auto md:max-w-sm md:px-0 sm:px-4">
            <div class="flex flex-col text-center">
              <div>
                <p
                  class="pb-2 text-4xl font-normal tracking-tight text-transparent bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text font-display">
                  Signup to Vanta.
                </p>
                <p class="mt-2 text-sm text-vanta-300">
                  Create an account wiht us.
                </p>
                <div class="py-3">
                  <div class="space-y-2">
                    <span class="relative z-0 inline-flex w-full mt-3">
                      <button
                        class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vanta-900 hover:text-vanta-400 border-vanta-700"
                        type="button"
                        ><span>Signup with Twitter</span>
                        <span class="order-first mr-3">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-brand-twitter"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="none"
                            fill="#1DA1F2"
                            stroke-linecap="round"
                            stroke-linejoin="round">
                            <path
                              stroke="none"
                              d="M0 0h24v24H0z"
                              fill="none"
                            ></path>
                            <path
                              d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
                            ></path>
                          </svg>
                        </span>
                      </button>
                    </span>
                    <span class="relative z-0 inline-flex w-full mt-3">
                      <button
                        class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vanta-900 hover:text-vanta-400 border-vanta-700"
                        type="button"
                        ><span>Signup with Google</span>
                        <span class="order-first mr-3"
                          ><svg
                            fill="none"
                            height="24"
                            viewBox="0 0 32 32"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path
                              d="M30.0014 16.3109C30.0014 15.1598 29.9061 14.3198 29.6998 13.4487H16.2871V18.6442H24.1601C24.0014 19.9354 23.1442 21.8798 21.2394 23.1864L21.2127 23.3604L25.4536 26.58L25.7474 26.6087C28.4458 24.1665 30.0014 20.5731 30.0014 16.3109Z"
                              fill="#4285F4"
                            ></path><path
                              d="M16.2862 30C20.1433 30 23.3814 28.7555 25.7465 26.6089L21.2386 23.1865C20.0322 24.011 18.4132 24.5866 16.2862 24.5866C12.5085 24.5866 9.30219 22.1444 8.15923 18.7688L7.9917 18.7827L3.58202 22.1272L3.52435 22.2843C5.87353 26.8577 10.6989 30 16.2862 30Z"
                              fill="#34A853"
                            ></path><path
                              d="M8.16007 18.7688C7.85848 17.8977 7.68395 16.9643 7.68395 15.9999C7.68395 15.0354 7.85849 14.1021 8.1442 13.231L8.13621 13.0455L3.67126 9.64734L3.52518 9.71544C2.55696 11.6132 2.0014 13.7444 2.0014 15.9999C2.0014 18.2555 2.55696 20.3865 3.52518 22.2843L8.16007 18.7688Z"
                              fill="#FBBC05"
                            ></path><path
                              d="M16.2863 7.4133C18.9688 7.4133 20.7783 8.54885 21.8101 9.4978L25.8418 5.64C23.3657 3.38445 20.1434 2 16.2863 2C10.699 2 5.87354 5.1422 3.52435 9.71549L8.14339 13.2311C9.30223 9.85555 12.5086 7.4133 16.2863 7.4133Z"
                              fill="#EB4335"
                            ></path>
                          </svg>
                        </span>
                      </button>
                    </span>
                  </div>
                  <div class="relative py-3">
                    <div
                      class="absolute inset-0 flex items-center"
                      aria-hidden="true">
                      <div class="w-full border-t border-white/5"></div>
                    </div><div class="relative flex justify-center">
                      <span class="px-2 text-sm text-white bg-card"
                        >Or continue with</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form>
              <div class="space-y-6">
                <div class="flex flex-row w-full gap-3">
                  <div class="w-full">
                    <label
                      for="first_name"
                      class="block mb-3 text-sm font-medium text-white sr-only"
                      >First name</label
                    >
                    <input
                      id="first_name"
                      name="first_name"
                      type="text"
                      autocomplete="given-name"
                      required=""
                      placeholder="Your name..."
                      class="block w-full h-10 px-4 py-3 bg-transparent border rounded-lg appearance-none text-vanta-300 border-white/10 placeholder-white/50 focus:border-vanta-300 focus:bg-transparent focus:outline-none focus:ring-vanta-300 sm:text-sm"
                    />
                  </div>
                  <div class="w-full">
                    <label
                      for="last_name"
                      class="block mb-3 text-sm font-medium text-white sr-only"
                      >Last name</label
                    >
                    <input
                      id="last_name"
                      name="last_name"
                      type="text"
                      autocomplete="family-name"
                      required=""
                      placeholder="Last name..."
                      class="block w-full h-10 px-4 py-3 bg-transparent border rounded-lg appearance-none text-vanta-300 border-white/10 placeholder-white/50 focus:border-vanta-300 focus:bg-transparent focus:outline-none focus:ring-vanta-300 sm:text-sm"
                    />
                  </div>
                </div>
                <div class="col-span-full">
                  <label
                    for="email"
                    class="block mb-3 text-sm font-medium text-white sr-only"
                    >Email</label
                  >
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="off"
                    placeholder="email@example.com"
                    class="block w-full h-10 px-4 py-3 bg-transparent border rounded-lg appearance-none text-vanta-300 border-white/10 placeholder-white/50 focus:border-vanta-300 focus:bg-transparent focus:outline-none focus:ring-vanta-300 sm:text-sm"
                    required
                  />
                </div>
                <div class="col-span-full">
                  <label
                    for="password"
                    class="block mb-3 text-sm font-medium text-white sr-only"
                    name="company"
                    >Password</label
                  >
                  <input
                    id="password"
                    name="password"
                    type="password"
                    placeholder="Type password here..."
                    class="block w-full h-10 px-4 py-3 bg-transparent border rounded-lg appearance-none text-vanta-300 border-white/10 placeholder-white/50 focus:border-vanta-300 focus:bg-transparent focus:outline-none focus:ring-vanta-300 sm:text-sm"
                    required
                  />
                </div>
                <div class="flex items-start">
                  <input
                    id="remember-me"
                    name="remember-me"
                    type="checkbox"
                    class="w-4 h-4 bg-black rounded border-vanta-300 focus:ring-white focus:border-white"
                  />
                  <label
                    for="remember-me"
                    class="block ml-2 text-xs leading-tight text-vanta-300">
                    Creating an account means you’re okay with our
                    <a
                      class="text-white hover:text-vanta-300"
                      href="/terms"
                      >Terms of Service,</a
                    >
                    <a
                      class="text-white hover:text-vanta-300"
                      href="/privacy"
                      >Privacy Policy,</a
                    >
                    and our default
                    <a
                      class="text-white hover:text-vanta-300"
                      href="/notifications"
                      >Notification Settings.</a
                    >
                  </label>
                </div>
                <div class="col-span-full">
                  <button
                    type="submit"
                    class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm text-white transition-all rounded-lg hover:to-vanta-600 bg-gradient-to-b from-vanta-300 via-vanta-400 to-vanta-500">
                    Sign up
                  </button>
                </div>
              </div>
            </form>
            <div class="mt-4">
              <p class="mx-auto text-sm leading-tight text-center text-white">
                Already a member?
                <a
                  class="ml-3 text-vanta-300 hover:text-white"
                  href="/signin"
                  >Log in now</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
