<footer>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-12">
    <div
      class="ring-white/10 ring-1 p-2 rounded-3xl bg-gradient-to-t from-white/20">
      <div
        class="bg-card/80 backdrop-blur-2xl rounded-2xl shadow-massive ring-white/10 ring-1 p-8 lg:p-20">
        <div class="xl:grid xl:grid-cols-3 gap-12 xl:gap-8">
          <a href="/" class="inline-flex gap-3 text-white">
            <span
              ><svg
                width="30"
                height="32"
                viewBox="0 0 60 62"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M32.9219 8.84226C32.9219 5.86885 36.5379 4.40339 38.608 6.53787L57.6821 26.2056C58.9383 27.5009 59.6408 29.2344 59.6408 31.0388V53.8041C59.6408 56.7775 56.0248 58.243 53.9547 56.1085L34.8806 36.4407C33.6244 35.1454 32.9219 33.4119 32.9219 31.6075V8.84226Z"
                  fill="#737373"></path>
                <path
                  d="M16.3633 8.19578C16.3633 5.22237 19.9793 3.75691 22.0494 5.89139L40.842 25.2689C42.2788 26.7503 43.0823 28.733 43.0823 30.7967V53.1576C43.0823 56.131 39.4662 57.5965 37.3961 55.462L18.322 35.7942C17.0658 34.4989 16.3633 32.7654 16.3633 30.9611V8.19578Z"
                  fill="#8F8F8F"></path>
                <path
                  d="M0.359375 8.84226C0.359375 5.86885 3.97542 4.40339 6.04548 6.53787L25.1196 26.2056C26.3758 27.5009 27.0783 29.2344 27.0783 31.0388V53.8041C27.0783 56.7775 23.4623 58.243 21.3922 56.1085L2.3181 36.4407C1.06191 35.1454 0.359375 33.4119 0.359375 31.6075V8.84226Z"
                  fill="#ABABAB"></path>
              </svg>
            </span>
            <span class="font-bold text-xl uppercase"> &nbsp;Vanta</span>
          </a>
          <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:col-span-2">
            <div>
              <h3
                class="font-display text-xl font-normal tracking-tight text-white">
                Navigation
              </h3>
              <ul role="list" class="mt-4 space-y-2">
                <li>
                  <a
                    href="/"
                    class="text-xs inline-flex gap-2 items-center text-vanta-400 hover:text-white">
                    Overview
                    <span
                      class="items-center hidden shrink-0 px-3 py-1 text-xs font-light text-white rounded-full lg:inline-flex bg-white/5"
                      >50+ Pages</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="/system/styleguide"
                    class="text-xs text-vanta-400 hover:text-white">
                    Style Guide
                  </a>
                </li>
              </ul>
            </div>
            <div>
              <h3
                class="font-display text-xl font-normal tracking-tight text-white">
                Stay updated
              </h3>
              <ul role="list" class="mt-4 space-y-2">
                <li>
                  <a
                    href="https://www.lexingtonthemes.com/license"
                    class="text-xs text-vanta-400 hover:text-white">
                    License
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.lexingtonthemes.com/documentation"
                    class="text-xs text-vanta-400 hover:text-white">
                    Documentation
                  </a>
                </li>
              </ul>
            </div>
            <div>
              <h3
                class="font-display text-xl font-normal tracking-tight text-white">
                Socials
              </h3>
              <ul role="list" class="mt-4 space-y-2">
                <li>
                  <a
                    href="https://twitter.com/lexingtonthemes"
                    class="text-xs text-vanta-400 hover:text-white">
                    @lexingtonthemes
                  </a>
                </li>
                <li>
                  <a
                    href="https://twitter.com/Mike_Andreuzza"
                    class="text-xs text-vanta-400 hover:text-white">
                    @Mike_Andreuzza
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <nav class="flex mt-12 lg:mt-24 flex-col lg:flex-row gap-8">
          <p class="text-xs text-vanta-400 hover:text-white">
            © 2022 Lexington Themes. All rights reserved
          </p>
          <a
            class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-xs text-vanta-400 hover:text-white transition-colors delay-150 hover:delay-[0ms] hover:bg-mirage"
            href="/#process"
            ><span class="relative z-10">Terms fo use</span>
          </a>

          <a
            class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-xs text-vanta-400 hover:text-white transition-colors delay-150 hover:delay-[0ms] hover:bg-mirage"
            href="/#pricing"
            ><span class="relative z-10">Privacy policy</span>
          </a>
        </nav>
        <section class="gap-x-8 gap-y-6 mt-6">
          <div>
            <p class="text-sm text-vanta-400 hover:text-white lg:col-span-2">
              Lexington Themes is not affiliated with Astro or Tailwind Labs
              team, nor is it endorsed by or sponsored by this ones. A side
              project by <a
                href="https://michaelandreuzza.com/"
                class="text-sm text-white hover:text-blue-300"
                >Michael Andreuzza</a
              > This website was built with Astro &amp; Tailwind. Crafted in Åland
              Islands, Finland.
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
</footer>
